@charset "utf-8";
/* CSS Document */
html{
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color:#F5F5F5;
    background-image: url("images/logic_gate2.jpg");
    background-opacity: 0.1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 0 1px 1px #fff;
}

*{
	margin: 0;
	padding: 0;
}

div.main {
    vertical-align: center;
    text-align: left;
    position: fixed;
    margin-left: 280px;
    width: 80%;
    top: 15%;
    padding-left: 400px;
}

#links{
    text-align: center;
}

#links{
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-left: 15px;
  color: #424242;
}

h2 {
  font-size: 14px;
  margin-left: 15px;
  color: #424242;
}

p {
  font-size: 11px;
  margin-left: 20px;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #738678;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #36454F;
}

#pic{
  position: absolute;
  left: 100px;
  top: 80px;
  padding: 20px;
}

/* Rounded corners, aligned, etc. */
img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    vertical-align: middle;
    page-break-inside: avoid;
}

footer {
    height: 2.5em;
}

footer #return{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer { 
  margin: 0;
  padding: 0;
  border-top: 1px solid #99A;
  background-color: #FFF;color: #004;
  font-size: 10px;
	}