@charset "utf-8";
/* CSS Document */
body{
  font-family: 'Courier New', Courier, Lucida Console, Monospace;
}

*{
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 20%;
}

.other {
  margin-top: 2rem;
}

.links {
  display: inline;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
}

a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.title {
  top: 30%;
  font-size: 2.5em;
}

.subtitle {
  font-size: 1.25em;
}

